* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'TTNorms-Bold';
  src: local('TTNorms-Bold'), url(./Fonts/TTNorms-Bold.woff) format('woff');
}

@font-face {
  font-family: 'TTNorms-Medium';
  src: local('TTNorms-Medium'), url(./Fonts/TTNorms-Medium.woff) format('woff');
}